---
layout: page
---
{% include JB/setup %}

<ul class="posts">
  {% for post in paginator.posts %}
    <li>
    	<span>{{ post.date | date_to_string }}</span> &raquo; <br>
	<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
    	<p>
   		{{ post.content }} 
	</p>
	<br>
	<span class="clearfix">
		<i class="fa fa-laptop fa-3x pull-left"></i>
		<a href="{{ post.url }}" class="pull-left">&raquo; Permalink</a><div class="pull-left">&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<a href="{{ post.url}}/#disqus_thread" class="pull-left">&raquo; View/Post Comments</a>
	</span>
	<hr>
    </li>
  {% endfor %}
</ul>

<br>

<div class="pagination">
	{% if paginator.page == 2 %}
		<a href="/" class="previous">Previous</a> |
	{% elsif paginator.previous_page %}
		<a href="/page{{ paginator.previous_page }}" class="previous">Previous</a> |
	{% endif %}
	<span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		| <a href="/page{{ paginator.next_page }}" class="next">Next</a>
	{% endif %}
</div>

<br>


<script type="text/javascript"> 
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */ 
	var disqus_shortname = 'supplethink'; // required: replace example with your forum shortname 
	/* * * DON'T EDIT BELOW THIS LINE * * */ 
	(function () { var s = document.createElement('script'); 
	s.async = true; 
	s.type = 'text/javascript'; 
	s.src = '//' + disqus_shortname + '.disqus.com/count.js'; 
	(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); }());
 </script>
